@model LocalERP.Models.Workorder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workorder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuoteRequested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteRequested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalMaterialCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalMaterialCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLabourCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalLabourCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateRequiredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRequiredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePickedUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePickedUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstMaterialCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstMaterialCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstLabourCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstLabourCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstOtherCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstOtherCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstTotalCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstTotalCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstDeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstDeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
